@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body, html{
    width: 100vw;
    height: 100vh;
}
img{
    background-size:  cover;
}
::-webkit-scrollbar{
    height: 0px;
    width: 0px;
}
a{
    color: white;
    font: normal 20px 'vizualize', arial, helvetica, sans-serif;
    text-decoration: none;
}
a:hover{
    font-size: 20.8px;
    transition: font-size 0.5s;
}
a:active{
    font-size: 15px;
    transition: font-size 1s;
}
footer{
    background: blueviolet;
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px 3px black;
}
@font-face {
    font-family: 'vizualize';
    src: url('fontes/upheavtt.ttf') format('truetype');
}