@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body,html{
    background: black url(imagens/1000007066.jpg) center center no-repeat fixed;
    background-size: cover;
    position: relative;
    height: 76vh;
    background-attachment: fixed;
    
}
/* -----------------------------header--------------------- */
nav{
    position: absolute;
    right: 2vw;
    width: 60px;
    bottom: 25vh;
    margin: 15px;
}
a.img1{
    height: 49px;
    display: inline-block;
    margin: 15px;
    border-radius: 100%;
    width: 50px;
}
nav>a>img{
    min-width: 50px;
    max-width: 50px;
}
a.img2{
    margin: 15px;
    height: 34px;
    display: inline-block;
    border-radius: 25%;
}
a.img3{
    margin: 15px;
    height: 48px;
    display: inline-block;
    border-radius: 25%;
}
a.img4{
    height: 48px;
    display: inline-block;
    margin: 15px;
    border-radius: 100%;
    width: 50px;
}
nav > a{
    position: relative;
    box-shadow: 1px 1px 5px black;
    transition: box-shadow 0.5s, transform 1s;
}
nav > a::after{
    content: "";
    position: absolute;
    inset: 0;
    border: 2.3px solid white;
    border-radius: inherit;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
}
nav > a:hover{
    box-shadow: 5px 5px 10px black;
    transform: translate(-7px, -7px);
    transition: box-shadow 0.5s, transform 0.5s;
}
nav > a:hover::after{
    opacity: 1;
}
/* ----------------------------------------------------------- */
/* --------------------------main--------------------------------------- */
div#phone{
    height: 300px;
    max-width: 220px;
    margin: 100px auto 100px auto;
    position: relative;
}
div#phone>img{
    min-width: 50%;
    max-width: 100%;
    position: absolute;
}
iframe.if{
    width: 87.5%;
    position: absolute;
    top: 30px;
    left: 14px;
    height: 400px;
    border: none;
    border-radius: 5px;
}
/* ----------------------------------------------------------------------- */
