@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
/* para centralizar um elemento com position sem alterar a fixação dele do centro nois usamos top: 50%; left: 50%; e transforme: translate(-50%, -50%); */
/* nunca junte dois iframes dentro  de um só elemento, sempre precisa está em um arquivo separado */
/* para criar uma animação nois usamos transforme: translate(-3px, -3px); esse valor pode variar e
   trasition: transform(1s); tbm podemos fazer essa alteração em outras modificações do elemento basta colocar o nome dele */
/* para esconder a barra de rolagem nois usamos ::-webkit-scrollbar{} no arquivo css e alteramos width e o height para 0px pra cada alteração*/
body,html{
    background: black url(imagens/1000006968.jpg) center center no-repeat fixed;
    background-size: cover;
    position: relative;
    height: 76vh;
    background-attachment: fixed;
    
}
/* -----------------------------header--------------------- */
nav{
    position: absolute;
    right: 2vw;
    width: 60px;
    bottom: 29vh;
    margin: 15px;
}
a.img1{
    height: 49px;
    display: inline-block;
    margin: 15px;
    border-radius: 100%;
    width: 50px;
}
nav>a>img{
    min-width: 50px;
    max-width: 50px;
}
a.img2{
    margin: 15px;
    height: 33.7px;
    display: inline-block;
    border-radius: 25%;
}
a.img3{
    margin: 15px;
    height: 48px;
    display: inline-block;
    border-radius: 25%;
}
a.img4{
    height: 48px;
    display: inline-block;
    margin: 15px;
    border-radius: 100%;
    width: 50px;
}
nav>a{
    box-shadow: 1px 1px 5px black;
}
nav>a:hover{
    border: 1.5px solid white;
    transform: translate(-4px, -4px);
    transition: transform 0.5s, border 0.5s;
    box-shadow: 5px 5px 10px black;
}
/* ----------------------------------------------------------- */
/* --------------------------main--------------------------------------- */
div#phone{
    height: 300px;
    max-width: 220px;
    margin: 100px auto 100px auto;
    position: relative;
}
div#phone>img{
    min-width: 50%;
    max-width: 100%;
    position: absolute;
}
iframe.if{
    width: 87.5%;
    position: absolute;
    top: 30px;
    left: 14px;
    height: 400px;
    border: none;
    border-radius: 5px;
}
/* ----------------------------------------------------------------------- */
