@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body{
    background: black url(imagens/1000006959.jpg) center center no-repeat fixed;
    background-size: cover;
    position: relative;
    height: 74vh;
    background-attachment: fixed;
}
/* -----------------------------header--------------------- */
nav{
    position: absolute;
    right: 2vw;
    width: 60px;
    bottom: 45vh;
}
nav>a>img{
    min-width: 30px;
    max-width: 65px;
}
/* ----------------------------------------------------------- */
/* --------------------------main--------------------------------------- */
div#phone{
    height: 455px;
    min-width: 220px;
    max-width: 300px;
    margin: 100px auto 0px auto ;
    position: relative;
}
div#phone>img{
    min-width: 50%;
    max-width: 100%;
    position: absolute;
}
iframe.if{
    width: 87%;
    position: absolute;
    top: 45px;
    left: 19px;
    height: 540px;
}
/* ----------------------------------------------------------------------- */
